$main-background-color-dark: #313131;

$primary-color-dark: #eeeeee;
$secondary-color-dark: #b4b4b4;
$tertiary-color-dark: #969696;

$bs-dark: 0 0 30px -2px rgba($primary-color-dark, 0.2);
$bsLight-dark: 0 0 30px -2px rgba($primary-color-dark, 0.1);