$main-background-color-light: #eeeeee;

$primary-color-light: #313131;
$secondary-color-light: #696969;
$tertiary-color-light: #c3c3c3;

$bs-light: 0 0 30px -2px rgba($primary-color-light, 0.2);
$bsLight-light: 0 0 30px -2px rgba($primary-color-light, 0.1);