.ant-input,
.ant-btn {
  font-weight: 700;

  @include themed() {
    border-color: t($tertiary-color);
  }

  &:hover {
    @include themed() {
      border-color: t($secondary-color);
    }  
  }

  &:focus {
    @include themed() {
      border-color: t($secondary-color);
      box-shadow: t($bs);
    }
  }
}

.ant-btn {
  @include themed() {
    color: t($secondary-color);
    border-color: t($secondary-color);
    background: t($wb);
  }

  &:hover,
  &:focus {
    @include themed() {
      color: t($tertiary-color);
      border-color: t($tertiary-color);
      background: t($wb);
    }
  }

  &.round {
    border: none;
    border-radius: 10px;
  }
}

a {
  width: auto;
  display: flex;
  align-items: center;

  &.button {
    padding: 4px 15px;
    font-weight: 700;
  }

  &.slim {
    font-size: 10px;
  }
}

label {
  font-size: 16px;
  font-weight: 400;

  @include themed() {
    color: t($bw);
  }

  margin-bottom: 6px;

  display: inline-block;

  em {
      white-space: nowrap;
  }
}

form p {
  width: 100%;
  margin-bottom: 16px;

  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
}